/* globals */
:root {
  color-scheme: dark;
}

.body {
  margin: 0;
  font-family: monospace;
}

/* layout */
.container {
  max-width: 1024px;
  padding-inline: 1rem;
  margin-inline: auto;
}

.flexbox {
  display: flex;
}

.flexbox--centered-spaced {
  align-items: center;
  justify-content: space-between;
}

/* components */
/* .header {} */

.nav {
  padding-block: 1rem;
}

.hero {
  padding-block: 8rem;
  text-align: center;
}

.hero__title {
  margin: 0;
  font-size: 3rem;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* elements */
.link {
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.button {
  padding: 0.5em 1em;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
}

.button--primary {
  background-color: #23b5e8;
  color: black;
}

/* utils */
.d-flex {
  display: flex;
}

.g-2 {
  gap: 0.5rem
}

.c-primary {
  color: #23b5e8;
}