/* globals */
:root {
  color-scheme: dark;
  --primary-color: #23b5e8;
  --black-color: #010508;
  --white-color: #f1f5f8;
  --size: 0.21875rem;
  --max-width: 1024px;
  --primary-font: monospace;
}

@media (width >=768px) {
  :root {
    --size: 0.25rem;
  }
}

.body {
  margin: 0;
  font-family: var(--primary-font);
}

/* layout */
.container {
  max-width: var(--max-width);
  padding-inline: calc(var(--size) * 4);
  margin-inline: auto;
}

.flexbox {
  display: flex;
}

.flexbox--centered-spaced {
  align-items: center;
  justify-content: space-between;
}

/* components */
/* .header {} */

.nav {
  padding-block: calc(var(--size) * 4);
}

.hero {
  padding-block: calc(var(--size) * 32);
  text-align: center;
}

.hero__title {
  margin: 0;
  font-size: calc(var(--size) * 12);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* elements */
.interactive {
  font-size: calc(var(--size) * 3.5);
  font-weight: 600;
}

.link {
  color: var(--white-color);
  text-decoration: none;
}

.button {
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: calc(var(--size) * 2);
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--black-color);
}

/* utils */
.d-flex {
  display: flex;
}

.g-2 {
  gap: calc(var(--size) * 2);
}

.c-primary {
  color: var(--primary-color);
}