.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  margin: 0;
  background-color: #010508;
  color: #fefefe;
  font-family: monospace;
}

.main {
  max-width: 320px;
  padding: 1rem;
  border-radius: 16px;
  background-color: #234B96;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.link {
  color: #fefefe;
}