.container {
  max-width: var(--max-width);
  padding-inline: calc(var(--size) * 4);
  margin-inline: auto;
}

.flexbox {
  display: flex;
}

.flexbox--centered-spacing {
  align-items: center;
  justify-content: space-between;
}

.g-layout {
  display: grid;
}

.g-layout--center {
  place-items: center;
  place-content: center;
}

.g-layout--auto-fit-columns-lg {
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--size) * 80), 1fr));
}