:root {
  color-scheme: light dark;
}

.body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  box-shadow: 0 0 0.125rem 0.0625rem #fefefe80;
  background-color: #01050880;
}

.nav {
  padding-block: 1rem;
}