:root {
  color-scheme: light dark;
}

.body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1280px;
  padding-inline: 1rem;
  margin-inline: auto;
}

.header {
  box-shadow: 0 0 0.125rem 0.0625rem #fefefe80;
  background-color: #01050880;
}

.nav {
  padding-block: 1rem;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.d-flex {
  display: flex;
}

.f-1 {
  flex: 1;
}